sudo: required

language: groovy

jdk:
  - oraclejdk8

script:
  - ./gradlew clean test --debug

deploy:
  skip_cleanup: true
  provider: script
  script: deploy/nexus.sh
  on:
    tags: true
    all_branches: true

services:
  - docker

before_install:
  - docker run -d -p 127.0.0.1:9222:9222 yukinying/chrome-headless:latest
  - openssl aes-256-cbc -K $encrypted_76d841558dc7_key -iv $encrypted_76d841558dc7_iv -in deploy/private.gpg.enc -out deploy/private.gpg -d